.container {
    display: flex;
    flex-wrap: wrap;
}

.hamburger {
    font-size: 3em;
    position: relative;
    float: right;
    margin-top: 1em;
    margin-right: 0.2em;
    display: none;
}

.header {
    width: 100%;
}

.header__logo {
    padding-left: 2px;
    margin-right: 0px;
}

.hero {width: 70%; order: 1;}
.weather {width: 30%; order: 2;}
.top-news {width: 60%; order: 3;}
.scores {width: 40%; order: 4;}
.recent-news {order: 5;}

@media screen and (min-width: 800px) {
    body {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
}

@media screen and (max-width: 670px) {
    .hero {width: 70%; order: 1;}
    .weather {width: 30%; order: 2;}
    .top-news {width: 60%; order: 3;}
    .scores {width: 40%; order: 4;}
    .recent-news {order: 5;}
}

@media screen and (max-width: 520px) {
    .hero {width: 100%; order: 1;}
    .weather {width: 100%; order: 1;}
    .top-news {width: 100%; order: 1;}
    .scores {width: 100%; order: 1;}
    .recent-news {order: 1;}

    .hamburger {
        display: inline;
        font-size: 2.5em;
    }

    .header__logo {
        height: 62px;
    }

    .header__title {
        font-size: 2.5em;
        padding-top: 0px;
        margin: 1em 0.1em 1em 0.1em;
    }

    .nav {
        position: fixed;
        z-index: 10;
        width: 135px;
        height: 100%;
        -webkit-transform: translate(-500px,0);
        transform: translate(-500px,0);
        transition: transform 0.3s ease;
        background-color: #E0E0E0;
    }

    .nav.open {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
        width: 135px;
    }

    .nav__item {
        width: 100%;
        display: inline-block;
    }
}

@media screen and (max-width:380px) {
    .header__title {
        font-size: 2em;
        padding-top: 10px;
    }
}